private/
database/
config.php
logs/
backups/
vendor/
node_modules/
.settings/
public/build/
public/assets/themes/*/*.css
public/assets/themes/*/maps/
*.sqlite
update.lock
tsconfig.json
.vagrant/
*.bak
composer.phar
.vscode
