private/
database/
config.php
docs/
logs/
backups/
vendor/
node_modules/
.idea/
.settings/
.sublime-gulp.cache
public/build/
public/assets/themes/*/*.css
public/assets/themes/*/maps/
*.sqlite
update.lock
tsconfig.json
.vagrant/
