/**
 * Dashboard styles
 */

@import "main";

.main-content {
    margin: 0;

    .main-info {
        display: flex;

        @include media-query(small) {
            flex-wrap: wrap;
        }
    }

    @include media-query(small) {
        margin-bottom: 20px;
        height: initial;
    }

    .section-title {
        font-size: 1.5em;
        width: 100%;
        text-align: center;
        background-color: $navbar-bg-color;
        padding: 10px 0;
        color: $navbar-text-color;
        border: none;

        @include button-hover;

        @include media-query(small) {
            display: block;

        }
    }

    .logs-panel {
        min-height: 150px;
        margin: 0 auto;
        flex-grow: 1;
        max-width: 85%;

        @include media-query(small) {
            display: none;
            margin-left: 0;
        }

        .control-panel {
            font-size: 0;
            margin-bottom: 20px;

            .search-console {
                overflow: auto;
                display: table;

                @mixin commonStyles {
                    font-size: 16px;
                    border: none;
                    height: 2em;
                    margin: 0;
                    padding: 0 .75em;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                }

                .query-box {
                    display: table-cell;
                    width: 100%;
                    input {
                        @include commonStyles;
                        color: gray;
                        width: 100%;
                        padding-right: 50px;
                        width: 100%;

                        &:focus {
                            -webkit-box-shadow: 0px 0px 4px 0px #353535;
                            box-shadow: 0px 0px 10px 0px #353535;
                            color: black;
                        }
                    }
                }

                .search-buttons {
                    display: table-cell;

                    button {
                        display: inline-block;
                        @include commonStyles;

                        @include button;
                        @include button-hover;
                    }
                }
            }

            .top-controls {
                background-color: $button-bg-color;

                .button-right {
                    float: right;
                }

                .button {
                    padding: 10px 10px;
                }
            }
        }

        #log-list {
            margin: 0 10px;
            padding-bottom: 10px;

            .log-entry {
                margin: 20px 0 0 0;

                button {
                    margin-left: 10px;
                }

                .log-title {
                    font-size: 1.5em;
                    font-weight: 700;
                }

                .log-body {
                    margin: 20px 0;
                    word-wrap: break-word;
                    position: relative;
                    max-height: 220px;
                    overflow: hidden;
                    width: 60%;
                }

                .log-body:after {
                    content:"";
                    position:absolute;
                    top:160px;
                    left:0;
                    height:60px;
                    width:100%;
                    background: linear-gradient(rgba(0,0,0,0), $body-bg-color);
                }

                .log-overflow {
                    position: relative;
                    top: -25px;
                }

                .log-metadata {
                    margin-bottom: 0;

                    span {
                        display: block;
                    }
                }
            }
        }
    }

    .logs-panel.cheesto-enabled {
        border-left: 2px solid $dandelion-dark-grey;
        margin: 0;
        max-width: 100%;
    }
}

.messages-panel {
    margin-right: 1rem;

    @include media-query(small) {
        width: 100%;
        display: none;
    }

    .messages-title {
        font-size: 1.75rem;
        font-weight: bold;
        padding: 1rem 1rem 0 1rem;
        display: block;
    }

    #messages-cheesto {
        height: 50%;
        margin-bottom: 20px;

        .__cheesto_status_select {
            @include select;
            margin: 5px 0 10px 10px;
        }

        .__cheesto_status_table {
            padding-left: 10px;
            width: 90%;

            table {
                width: 100%;
                border-collapse: collapse;

                tr {
                    &:first-child {
                        td {
                            border-top: none;
                        }
                    }
                }

                td {
                    padding: 5px;
                    word-wrap: break-word;
                    border-top: 1px solid black;

                    &.status-cell {
                        color: $dandelion-dark-orange;
                        border-left: 1px solid black;

                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}

#cheesto-status-form {
    display: flex;

    fieldset {
        border: none;

        table {
            margin-top: 10px;

            td {
                border: 1px solid black;
                padding: 5px;

                input {
                    margin-left: 5px;
                }
            }
        }

        label {
            display: block;
        }

        &.outer {
            float: left;
        }
    }
}
