/**
 * Styles for user edit page
 */

@import "main";

section {
    margin-top: 15px;
}

table {
    td {
        padding: 5px 10px;

        &.field-name {
            font-weight: bold;
        }
    }
}

#pwd-reset-dialog {
    display: none;
}
