/**
 * Styles for edit log page
 */

@import "main";

button {
    @include button;
    @include button-hover;
}

select {
    @include select;
    background-color: lighten($dandelion-mid-grey, 20%);
    color: black;
    margin-left: 5px;

    @include media-query(small) {
        display: block;
        margin-bottom: 10px;
    }
}
