/**
 * Styles for Dandelion installer
 */
@import "main";

header {
    font-size: initial;
    background-color: $dandelion-mid-grey;
    padding: 15px 60px;
    width: 600px;
    border-radius: 0 0 60px;
    color: white;

    h1 {
        margin: 0;
    }
}

td {
    padding: 3px 0;
}

button {
    @include button;
    @include button-hover;
}
