/**
 * Styles for login page
 */

@import "main";

body {
    background-color: darken($dandelion-light-grey, 0%);
}

.login-box {
    position: fixed;
    top: 15%;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    padding: 1em;
    text-align: center;
    color: black;

    fieldset {
        border: none;

        label {
            padding-left: 15px;
            padding-bottom: 5px;
            font-weight: bold;
        }

        button {
            font-size: 20px;
            margin-right: 20px;
            margin-bottom: 10px;
            float: right;
        }
    }

    h1 {
        font-size: 2.25em;
    }

    form {
        padding-top: 1.5em;
        box-shadow: 0 0 50px 5px rgba(0,0,0,0.3), 0 0 5px -1px white;
        background-color: #EDEDED;
        background: radial-gradient(circle, #FFFFFF, #EDEDED);
    }

    .textfield {
        display: inline-block;
        padding: 5px 10px;
    }

    input[type=text], input[type=password] {
        padding: 5px;
        font-size: 1.25em;
    }

    #login-btn {
        border-radius: 10px;
        border: 1px solid black;
    }

    .remember {
        display: inline-block;
        margin-top: 10px;
    }
}
