/**
 * Styles for the user settings page
 */

@import "main";

fieldset {
    border: none;
    display: table-row;
}

label {
    display: table-cell;
    text-align: right;
    padding-bottom: 10px;
}


.textfield {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid black;
    background-color: $dandelion-light-grey;

    &:focus {
        outline: 1px solid blue;
    }
}

input {
    border: none;
    background-color: transparent;

    &:focus {
        outline: none;
    }
}

.submit-btn {
    margin-left: 35px;
}

#apikey {
    padding: 0 0 10px 10px;
}

#save-per-page-btn, #save-theme-btn, #generate-apikey-btn {
    margin-left: 10px;
}
