/**
 * Styles for main dashboard page
 */

@import (reference) "_base";

#dashboard {
    margin: 0 auto;
    text-align: center;
    width: 60%;

    #dandelion-lib > .media-query(screen, large, {
    	width: 90%;
    });

    #dandelion-lib > .media-query(screen, small, {
    	width: initial;
    });

	#add_edit {
		margin-top: 1em;
		display: none;
	}

	#controlPanel {
		.commonStyles() {
			display: inline-block;
			border: none;
			height: 2em;
			margin: 0;
			padding: 0 .75em;
			-moz-box-sizing: border-box;
		    -webkit-box-sizing: border-box;
		    box-sizing: border-box;
		}

		#searchquery {
			.commonStyles;
			color: gray;
			width: 350px;

			&:focus {
			    outline: 1px solid #353535;
			    -webkit-box-shadow: 0px 0px 4px 0px #353535;
			    box-shadow: 0px 0px 10px 0px #353535;
			    color: black;
			}

			#dandelion-lib > .media-query(screen, small, {
		    	width: 200px;
		    });
		}

		.cpButton {
			.commonStyles;
		}

		.controlButtons {
			#dandelion-lib > .media-query(screen, small, {
				margin: 0 auto;
				display: block;
			});
		}
	}

	.pageEntryButtons() {
		border: none;
		padding: 1em 2em;
		margin: 0;
		font-size: 1em;
		color: white;
	}

	.pagination {
		.pageEntryButtons;
		display: block;
		overflow: hidden;
		padding: 0;
		height: 3em;

		input, .filler {
			.pageEntryButtons;
		}
	}

	.logentry {
	  	margin: 5px;
		border: 0 solid black;
		text-align: left;
		font-family: sans-serif;

		.editButton {
			.pageEntryButtons;
			padding: .5em 1.5em;
			float: right;

			#dandelion-lib > .media-query(screen, small, {
		    	float: initial;
		    	display: block;
		    });
		}
	}

	.entry {
		word-wrap: break-word;
	}

	#logs_core {
		padding: .5em 1.5em;
		color: black;
	}

	#logs {
		//min-width: 35em;
		margin-top: 1em;
		#dandelion-lib > .media-query(screen, large, {
			margin-top: .5em;
		});
	}
}

.categories {
  text-align: left;
}
