/**
 * Styles for main dashboard page
 */

#dashboard {
    margin: 0 auto;
    text-align: center;

	#add_edit {
		margin-top: 1em;
		display: none;
	}

	#controlPanel {
		min-width: 35em;

		#searchterm, #datesearch {
			margin-right: 1em;
		}
	}

	.pageEntryButtons {
		border: none;
		padding: 1em 2em;
		margin: 0;
		font-size: 1em;
		color: white;
	}

	.pagination {
		display: block;
		overflow: hidden;
		padding: 0 0;

		input {
			.pageEntryButtons;
		}
	}

	.logentry {
	  	margin: 5px 5px 50px 5px;
		border: 0 solid black;
		text-align: left;
		font-family: sans-serif;

		input {
			.pageEntryButtons;
			padding: .5em 1.5em;
			margin-top: .75em;
		}
	}

	.entry {
		max-width: 55em;
		word-wrap: break-word;
	}

	#logs_core {
		padding: .5em 1.5em;
		color: black;
	}

	#logs {
		min-width: 35em;
		margin-top: 1em;
	}
}

.categories {
  text-align: left;
}
