/* Halloween theme for Cheesto
 *
 * @author Lee Keitel
 * @date Feb 2014 
**/
#presence {
  background-color: #f39a61;
  color: black;
}
.linklike {
  background-color: #393939;
}
.linklike:hover {
  background-color: #ff9900;
}
#showHide {
  color: black;
}
