/* Shell theme for Cheesto in pane mode
 *
 * @author Lee Keitel
 * @date April 2014 
**/

body {
}
    
#presence {
}

#divMain {
}

#showHide {
}

h3 {
}

table {
}

td {
}

.statusi {
}

thead td {
}

.green {
    color: green;
    cursor: help;
}

.blue {
    color: blue;
    cursor: help;
}

.red {
    color: red;
    cursor: help;
}

.message {
    cursor: help;
}

.linklike {
}

.set {
}

.linklike:hover {
}

td.cen {
}