/* Shell theme for Cheesto in windowed mode
 *
 * @author Lee Keitel
 * @date April 2014 
**/

body {
}

#mainWindow {
}

h3 {
}

table {
}

td {
}

.statusi {
}

thead td {
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.red {
    color: red;
}