/* Mailbox Styles
 *
 * @author Lee Keitel
 * @date June 2014 
**/
#mailDialog {
  text-align: left;
}
.mailboxCSS {
  border-collapse: collapse;
  width: 100%;
}
.mailboxCSS td,
.mailboxCSS th {
  border: 1px solid black;
  text-align: left;
}
.mailboxCSS th {
  padding: 5px;
}
.mailboxCSS a {
  color: white;
}
.unread {
  font-weight: bold;
}
