/* Base theme for Cheesto in windowed mode
 *
 * @author Lee Keitel
 * @date Feb 2014 
**/

body {
	background-color: #6E6E6E;
    margin-top: 10px;
    font-family: sans-serif;
	margin: 0 auto;
	width: 90%;
}

#mainWindow {
	background-color: #F3843E;
	min-width: 25em;
	padding: 1em 1em;
	margin: auto auto;
	margin-top: 2em;
    word-wrap: break-word;
}

h3 {
    margin: 0px;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    /*border: 1px solid black;*/
}

td {
    border: 1px solid black;
    padding: 5px;
}

.statusi {
    text-align: center;
}

thead td {
    font-weight: bold;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.red {
    color: red;
}