/* Base theme for Cheesto in pane mode
 *
 * @author Lee Keitel
 * @date Feb 2014 
**/
#presence {
  position: absolute;
  float: left;
  left: 1em;
  max-width: 12em;
  border: 1px solid black;
  padding: 5px;
  color: black;
  text-align: center;
  /*.set {
		padding: .25em .5em;
	}*/

  /* .tables is here to import the styles to presenceWin.less */

}
#presence h3 {
  text-align: left;
}
#presence .linklike {
  margin-top: .5em;
  cursor: default;
  border: none;
  padding: .5em 1em;
  font-size: 1em;
  color: white;
}
#presence .linklike:hover {
  color: black;
}
#presence #cstatus {
  margin: 3px;
}
#presence #showHide {
  color: black;
  text-decoration: none;
}
#presence h3 {
  margin: 0;
  margin-bottom: 5px;
}
#presence table, #presence .tables {
  border-collapse: collapse;
  margin-top: .5em;
}
#presence table thead td, #presence .tables thead td {
  font-weight: bold;
}
#presence table .statusi, #presence .tables .statusi {
  text-align: center;
}
#presence table td, #presence .tables td {
  border: 1px solid black;
  padding: 5px;
}
#presence table td .message, #presence .tables td .message {
  cursor: help;
}
#presence table td .green, #presence .tables td .green {
  color: green;
  cursor: help;
}
#presence table td .blue, #presence .tables td .blue {
  color: blue;
  cursor: help;
}
#presence table td .red, #presence .tables td .red {
  color: red;
  cursor: help;
}
#presence table td.textLeft, #presence .tables td.textLeft {
  text-align: left;
}
#presence table td.cen, #presence .tables td.cen {
  text-align: center;
  border: none;
}
