/*Stylesheet for Presence Pane*/

body {
    margin: 0px 0px;
    text-align: left;
    width: 100%;
}
    
#presence {
    position: absolute;
    float: left;
    left: 1em;
    max-width: 12em;
    border: 1px solid black;
    padding: 5px;
    background: #ffffff;
}

#divMain {
    margin: 0px auto;
    text-align: center;
    width: 60%;
}

h3 {
    margin: 0px;
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

td {
    border: 1px solid black;
    padding: 5px;
}

.statusi {
    text-align: center;
}

thead td {
    font-weight: bold;
}

.green {
    color: green;
    cursor: help;
}

.blue {
    color: blue;
    cursor: help;
}

.red {
    color: red;
    cursor: help;
}

.message {
    cursor: help;
}

.linklike {
    margin-top: 10px;
    color: blue;
    cursor: pointer;
}