/* Base theme for tutorial page
 *
 * @author Lee Keitel
 * @date Feb 2014 
**/

body {
    text-align: left;
}

.t_cen {
    text-align: center;
}

#content {
	padding: .5em 1.5em;
	color: black;
	margin-top: 2em;
}