/* Halloween theme for Cheesto Popout
 *
 * @author Lee Keitel
 * @date Feb 2014 
**/
body {
  background-color: #6e6e6e;
  color: black;
}
#mainWindow {
  background-color: #f3843e;
}
#presence {
  background-color: #ffffff;
}
